@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Black.woff);
}

@font-face {
    font-family: Roboto-light;
    src: url(../font/Roboto-Light.woff);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../font/Roboto-Medium.woff);
}

.Main {
    width: 100%;
    display: flex;
    background-color: #e3e4e6 !important;
}

.Dashbord {
    margin-left: 10px;
    padding-top: 1.5rem;

    .Dashbord_text {
        font-family: Roboto-light;
        font-size: x-large;
        color: #343a40;
        font-weight: 600;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}

.Fxconteiner {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    width: 800px;

    .Fxconteiner_box {
        flex: 0 0 auto;
        margin: 10px;
        background: #fff;
        min-width: 35%;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgb(197, 197, 197);
    }

}
.Fxconteiner_2 {
    padding-bottom: 20px;
    width: 800px;
    .Fxconteiner_box_2 {
        flex: 0 0 auto;
        margin: 10px;
        background: #fff;
        min-width: 35%;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgb(197, 197, 197);
        margin-bottom: 50px;
    }
}
.Cuntrybox {
    display: flex;
    align-items: center;
    padding: 10px;

    .Cuntry_Name {
        font-family: Roboto-light;
        font-size: x-large;
        margin: 10px
    }
}
.Cuntrybox_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Fxconteiner_Head{
    font-family: Roboto-light;
    font-size: x-large;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.FxconteinerHover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Roboto-light;
    font-size: larger;
    font-weight: 700;
    padding: 10px 0;
    color: #4650dd !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .FxconteinerHover_Cuntry {
        padding-right: 20px;
    }
}

.Pie_Chart {
    margin-top: 20px;
    margin-bottom: 20px;

    .myChart {
        background: #fff;
        box-shadow: 0px 5px 15px rgb(197, 197, 197);
        border-radius: 10px;
    }
}

.Line_Chart {
    margin: 20px 30px 20px 0px;
    background: #fff;
    box-shadow: 0px 5px 15px rgb(197, 197, 197);
    border-radius: 10px;
    padding: 25px !important;
}

.Fxconteiner_SellBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#transactionForm{
    padding: 10px;
}
select {
    font-size: 16px;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.label {
    font-size: 18px;
    padding: 5px;
}
#amount {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#buyBtn {
    background-color: #a8c4ff;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0px 2.5px 5px #8890ff;
}
#buyBtn:hover {
    background-color: #6999ff;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0px 2.5px 10px #8890ff;
}

#sellBtn {
    background-color: #ff968f;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0px 2.5px 5px  #ff968f;
}
#sellBtn:hover {
    background-color: #ff5252;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0px 2.5px 5px  #ff766c;
}
